<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">

    <listeners>
		<listener class-name="extendReport.ExtentTestNGIReporterListener" />
	</listeners>

  <test  name="Test">
  <parameter name="browser" value= "Chrome"/>
    <classes>
      <class name="testclasses.VerifySSC_CGL_TestSeriesFunctionality_testNG"/>
     <class name="testclasses.VerifySubCategoryLinksOnSSC_CGL_CoursePage_testNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
